.declareWar {
    background: url('../../../images/background.jpg');
    width: 100vw;
    height: calc(100vh - var(--header-size));

    background-position: 0 0;
    background-attachment: fixed;

    color: var(--secondary-color);
    font-family: Roboto-Regular;

    border-top: solid #313236;

    overflow: hidden;
}

.declareWar
.close {
    position: absolute;
    right: 10%;
    top: 7%;
}

.declareWar
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 153px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.declareWar
.button {
    width: 117px;
    height: 37px;
    border-radius: 7px;
    margin: 8px;
    font-size: 14px;
}

.declareWar
.prev {
    background-color: #C4C4C4;
}

.declareWar #error {
    color: var(--error-message-color);

    position: absolute;
    bottom: 182px;
    left:50%;
    transform: translate(-50%, 50%);
    text-align: center;
}

.declareWar
.title {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 7%;
    align-items: center;
    font-family: Quantico-Regular;
    left: 50%;
    right: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.declareWar .title
.guildsName {
    font-size: 28px;
    margin:16px;

    position: relative;
    top: -28px;

    white-space: nowrap;
}

.declareWar .title
.from {
    position: absolute;
    right: 8px;
}

.declareWar .title
.on {
    position: absolute;
    left: 8px;
}

.declareWar
.declareWarTitle {
    font-family: Roboto-Bold;
    font-size: 20px;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.declareWar .declareMiddle {
    position: relative;
    height: 67%;
    top: 18%;
}

.declareWar .sub-title {
    font-family: Roboto-Medium;
    font-size: 16px;
    text-align: center;
}

.declareWar .input {
    background: #364050;
    color: var(--secondary-color);
    border: 1px solid #000;

    font-size: 14px;
    outline: none;
    
    font-family: 'Roboto-Regular';
    padding-left: 4px;

    height: 32px;

}
