.declareWar {
    background: url('../../../images/background.jpg');
    width: 100vw;
    height: calc(100vh - var(--header-size));

    background-position: 0 0;
    background-attachment: fixed;

    color: var(--secondary-color);
    font-family: Roboto-Regular;

    border-top: solid #313236;
}

.declareWar
.close {
    position: absolute;
    right: 64px;
    top: 115px;
}