.warSchedule
.title {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 32px;
    align-items: center;
    font-family: Quantico-Regular;
    left: 50%;
    right: 50%;
}

.warSchedule
.title .vs {
    position: absolute;
    top: 120px;
    left: 50%;
    right: 50%;
}

.warSchedule .title
.guildsName {
    font-size: 28px;
    margin:16px;

    position: absolute;
    top: 92px;

    white-space: nowrap;
}

.warSchedule .title
.from {
    position: relative;
    right: 222px;
}

.warSchedule .title
.on {
    position: relative;
    left: -205px;
}

.warSchedule
.warScheduleMiddle {
    margin-left: 32px;
}

.warSchedule
.warsCalendar .allDates {
    width: 300px;
    padding-left: 16px;
    padding-right: 16px;
    height: 70vh;
    overflow: scroll;
}


.warSchedule
.warsCalendar .allDates::-webkit-scrollbar-track {
    width: 0px;
    background-color: transparent;
}

.warSchedule
.warsCalendar .allDates::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}

.warSchedule
.warsCalendarFrom {
    position: absolute;
    left: 2%;
    top: calc(var(--header-size) + 128px);
}

.warSchedule
.warsCalendar .allDatesFrom {
    border-right: solid 1px var(--primary-color);
}

.warSchedule
.warsCalendar .allDatesOn {
    border-left: solid 1px var(--primary-color);
}

.warSchedule
.warsCalendarOn {
    position: absolute;
    right: 2%;
    top: calc(var(--header-size) + 128px);
}

.warSchedule .warScheduleMiddle
.nextWars {
    font-family: Roboto-Bold;
    font-size: 20px;
    margin-left: 24px;
    margin-bottom: 8px;
}

.warSchedule .warScheduleMiddle
.dates {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.warSchedule .warScheduleMiddle
.dates .date {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.warSchedule .warScheduleMiddle
.dates .date .day {
    width: 128px;
    margin-left: 8px;
}

.warSchedule .warScheduleMiddle
.dates .hours {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 8px;
}

.warSchedule .warScheduleMiddle
.dates .hours .endHours {
    margin-left: 86px;
}

.warSchedule .warScheduleMiddle
.dates .date .tiret {
    font-size: 36px;
    color: var(--primary-color);
    margin-left: 8px;
    margin-right: 8px;
}