.warSchedule
.title {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 128px;
    align-items: center;
    font-family: Quantico-Regular;
    left: 50%;
    right: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.warSchedule .title
.guildsName {
    font-size: 28px;
    margin:16px;

    position: relative;
    top: -28px;

    white-space: nowrap;
}

.warSchedule .title
.from {
    position: absolute;
    right: 8px;
}

.warSchedule .title
.on {
    position: absolute;
    left: 8px;
}

.warSchedule
.warScheduleMiddle {
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: row;
}

.warSchedule
.warsCalendar .allDates {
    width: 300px;
    padding-left: 16px;
    padding-right: 16px;
    height: calc(100vh - 32%);
    overflow: scroll;
}

.warSchedule
.warsCalendar .allDates::-webkit-scrollbar-track {
    width: 0px;
    background-color: transparent;
}

.warSchedule
.warsCalendar .allDates::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}

.warSchedule
.warsCalendar {
    top: calc(var(--header-size) + 64px);
}

.warSchedule
.warsCalendarFrom {
    position: relative;
    float: left;
}

.warSchedule
.warsCalendar .allDatesFrom {
    border-right: solid 1px var(--primary-color);
}

.warSchedule
.warsCalendar .allDatesOn {
    border-left: solid 1px var(--primary-color);
}


.warSchedule
.warsCalendarOn {
    position: relative;
    float: right;
}

.warSchedule .warScheduleMiddle
.nextWars {
    font-family: Roboto-Bold;
    font-size: 20px;
    margin-left: 24px;
    margin-bottom: 8px;
}

.warSchedule .warScheduleMiddle
.dates {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.warSchedule .warScheduleMiddle
.dates .date {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.warSchedule .warScheduleMiddle
.dates .date .day {
    width: 128px;
    margin-left: 8px;
}

.warSchedule .warScheduleMiddle
.dates .hours {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 8px;
}

.warSchedule .warScheduleMiddle
.dates .hours .endHours {
    margin-left: 86px;
}

.warSchedule .tiret {
    font-size: 36px;
    color: var(--primary-color);
    margin-left: 8px;
    margin-right: 8px;
}

.warSchedule .warScheduleMiddle
.warCalendarNext {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    /* top: calc(var(--header-size) + 128px); */
    height: calc(100vh - 82px - 220px);
    top: 220px;
}

.warSchedule .warCalendarNext
.warScheduleTitle {
    font-family: Roboto-Bold;
    font-size: 20px;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.warSchedule .warCalendarNext
.schedule-container {
    justify-content: center;
    align-items: center;
    text-align: center;

    position: relative;
    top: 16px;
}

.warSchedule .warCalendarNext
.input {
    width: 58px;
    height: 37px;
    outline: none;
    text-align: center;
    font-family: Roboto-Regular;
    border-radius: 10px;
    border: solid 1px #C4C4C4;
    margin: 2px;
}

.warSchedule .input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.warSchedule .text-input {
    width: 47px;
}

.warSchedule .input-container-from-to {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
