.listsPage {
    background-color: #ffffff;

    width: 100vw;
    height: 100%;
    min-height: calc(100vh - var(--header-size));
    box-sizing: border-box;

    overflow-x: hidden;

    padding-bottom: 128px;
}

.listsPage::-webkit-scrollbar {
    display: none;
}

.listsHeader-container {
    background: url('../../../images/background.jpg');
    box-shadow: inset 0 0 0 1000px rgba(27, 37, 52, 0.4);
    height: calc(217px - var(--header-size));

    background-position: 50% 0;
    background-position: 0 0;
    background-attachment: fixed;
}

.search-list {
    position: relative;
    left: 128px;
    top: 64px;
    border-radius: 10px;
    background-color: #C4C4C4;
    height: 45px;
    width: 280px;
    padding-left: 16px;
    outline: none;
    font-family: Roboto-Regular;
}

.listsBoard .nb-list {
    position: relative;
    left: 145px;
    top: 64px;

    font-family: Roboto-Bold;
    font-size: 18px;
}

.listsBoard .tablesBoard {
    position: relative;
    top: 96px;
    width: 90%;
    margin-left: auto;
    margin-right: auto; 

    font-family: Roboto-Regular;
    text-align: left;

    border-collapse:separate; 
    border-spacing: 0 1em;
}

.listsBoard .tablesBoard
.first-th {
    padding-left: 16px;
}

td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 0px solid;
}

td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0px solid;
}

.listsBoard .tablesBoard
.tableBoard {
    background-color: #1B2534;
    box-shadow: 0px 4px 6px rgba(59, 60, 64, 0.4);

    color: var(--secondary-color);

    height: 60px;
    padding-left: 8px;

    margin-bottom: 8px;
}

.listsBoard .tablesBoard
.tableBoard .tableBoard-nickname {
    cursor: pointer;
}

.listsBoard .tablesBoard
.tableBoard .tableBoard-guild {
    cursor: pointer;
}

.listsBoard .tablesBoard .tableBoard
.image-container {
    width: 42px;
    height: 42px;
    cursor: pointer;
}

.listsBoard .tablesBoard .tableBoard
.image-container .list-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-left: 8px;
}

.listsBoard .tablesBoard .tableBoard
.follow {
    width: 80px;
    height: 22px;
    line-height: 22px;
    border-radius: 5px;
}

.listsBoard .tablesBoard .tableBoard
.follow::before {
    content: 'Follow';
}

.listsBoard .tablesBoard .tableBoard
.unfollow {
    width: 80px;
    height: 22px;
    line-height: 22px;
    border-radius: 5px;
    background-color: #C4C4C4;
}

.listsBoard .tablesBoard .tableBoard
.unfollow::before {
    content: 'Unfollow';
}

.listsBoard .tablesBoard .tableBoard
.status-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listsBoard .tablesBoard .tableBoard
.status {
    text-transform: uppercase;
    color: var(--third-color);
    font-size: 14px;
    margin-right: 8px;
}

.listsBoard .tablesBoard .tableBoard
.pastille {
    width: 8px;
    height: 8px;
    border-radius: 20px;
    background: var(--green-color);

    margin-right: 6px;
}

.listsBoard .tablesBoard .tableBoard
.online {
    background: var(--green-color);
}

.listsBoard .tablesBoard .tableBoard
.offline {
    background: #EB5757;
}

.listsBoard .tablesBoard .tableBoard
.ingame {
    background: var(--primary-color);
}