.profileBlock .listsHeader-container {
    background: url('../../../images/background.jpg');
    box-shadow: inset 0 0 0 1000px rgba(27, 37, 52, 0.4);
    height: calc(217px - var(--header-size));

    background-position: 50% 0;
    background-position: 0 0;
    background-attachment: fixed;
}

.profileBlock .search-list {
    position: relative;
    left: 128px;
    top: 64px;
    border-radius: 10px;
    background-color: #C4C4C4;
    height: 45px;
    width: 280px;
    padding-left: 16px;
    outline: none;
    font-family: Roboto-Regular;
}

.profileBlock
.listsBoard {
    height: calc(100vh - 217px);
    overflow-y: auto;
    overflow-x: hidden;
}

.profileBlock .listsBoard::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #191C20;
}

.profileBlock .listsBoard::-webkit-scrollbar {
	width: 12px;
}

.profileBlock .listsBoard::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #7A808B;
}

.profileBlock .listsBoard .nb-list {
    position: relative;
    left: 0;
    top: 0px;

    margin-top: 16px;

    font-family: Roboto-Bold;
    font-size: 18px;

    text-align: initial;
    margin-left: 128px;
}

.profileBlock .listsBoard .tablesBoard {
    position: relative;
    top: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    font-family: Roboto-Regular;
    text-align: left;

    border-collapse:separate;
    border-spacing: 0 1em;

    margin-top: 16px;
}

.profileBlock .listsBoard .tablesBoard
.first-th {
    padding-left: 16px;
}

.profileBlock td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 0px solid;
}

.profileBlock td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0px solid;
}

.profileBlock .listsBoard .tablesBoard
.tableBoard {
    background-color: #1B2534;
    box-shadow: 0px 4px 6px rgba(59, 60, 64, 0.4);

    color: var(--secondary-color);

    height: 60px;
    padding-left: 8px;

    margin-bottom: 8px;
}

.profileBlock .listsBoard .tablesBoard
.tableBoard .tableBoard-nickname {
    cursor: pointer;
}

.profileBlock .listsBoard .tablesBoard
.tableBoard .tableBoard-guild {
    cursor: pointer;
}

.profileBlock .listsBoard .tablesBoard .tableBoard
.image-container {
    width: 42px;
    height: 42px;
    cursor: pointer;
}

.profileBlock .listsBoard .tablesBoard .tableBoard
.image-container .list-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-left: 8px;
}


.profileBlock .listsBoard .tablesBoard .tableBoard
.follow {
    width: 80px;
    height: 22px;
    line-height: 22px;
    border-radius: 5px;
    font-size: 14px;
}

.profileBlock .listsBoard .tablesBoard .tableBoard
.follow::before {
    content: 'Follow';
}

.profileBlock .listsBoard .tablesBoard .tableBoard
.unfollow {
    width: 80px;
    height: 22px;
    line-height: 22px;
    border-radius: 5px;
    background-color: #C4C4C4;
    font-size: 14px;
}

.profileBlock.listsBoard .tablesBoard .tableBoard
.unfollow::before {
    content: 'Unfollow';
}

.profileBlock .listsBoard .tablesBoard .tableBoard
.status-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profileBlock .listsBoard .tablesBoard .tableBoard
.status {
    text-transform: uppercase;
    color: var(--third-color);
    font-size: 14px;
    margin-right: 8px;
}

.profileBlock .listsBoard .tablesBoard .tableBoard
.pastille {
    width: 8px;
    height: 8px;
    border-radius: 20px;
    background: var(--green-color);

    margin-right: 6px;
}

.profileBlock .listsBoard .tablesBoard .tableBoard
.online {
    background: var(--green-color);
}

.profileBlock .listsBoard .tablesBoard .tableBoard
.offline {
    background: #EB5757;
}

.profileBlock .listsBoard .tablesBoard .tableBoard
.ingame {
    background: var(--primary-color);
}

.profileBlock .listsBoard .guildTable {
    cursor: pointer;
}

.guildBlock .listsHeader-container {
    background: url('../../../images/background.jpg');
    box-shadow: inset 0 0 0 1000px rgba(27, 37, 52, 0.4);
    height: calc(217px - var(--header-size));

    background-position: 50% 0;
    background-position: 0 0;
    background-attachment: fixed;
}

.guildBlock .search-list {
    position: relative;
    left: 128px;
    top: 64px;
    border-radius: 10px;
    background-color: #C4C4C4;
    height: 45px;
    width: 280px;
    padding-left: 16px;
    outline: none;
    font-family: Roboto-Regular;
}

.guildBlock
.listsBoard {
    /* height: calc(100vh - 217px); */
    height: 110%;
    overflow-y: auto;
    overflow-x: hidden;
}

.guildBlock .listsBoard::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #191C20;
}

.guildBlock .listsBoard::-webkit-scrollbar {
	width: 12px;
}

.guildBlock .listsBoard::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #7A808B;
}

.guildBlock .listsBoard .nb-list {
    /* position: relative;
    left: 145px;
    top: 64px; */

    font-family: Roboto-Bold;
    font-size: 18px;
}

.guildBlock .listsBoard .tablesBoard {
    position: relative;
    margin-top: 32px;
    top: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    font-family: Roboto-Regular;
    text-align: left;

    border-collapse:separate;
    border-spacing: 0 1em;
}

.guildBlock .listsBoard .tablesBoard
.first-th {
    padding-left: 16px;
}

.guildBlock td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 0px solid;
}

.guildBlock td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0px solid;
}

.guildBlock .listsBoard .tablesBoard
.tableBoard {
    background-color: #1B2534;
    box-shadow: 0px 4px 6px rgba(59, 60, 64, 0.4);

    color: var(--secondary-color);

    height: 60px;
    padding-left: 8px;

    margin-bottom: 8px;
}

.guildBlock .listsBoard .tablesBoard
.tableBoard .tableBoard-nickname {
    cursor: pointer;
}

.guildBlock .listsBoard .tablesBoard
.tableBoard .tableBoard-guild {
    cursor: pointer;
}

.guildBlock .listsBoard .tablesBoard .tableBoard
.image-container {
    width: 42px;
    height: 42px;
    cursor: pointer;
}

.guildBlock .listsBoard .tablesBoard .tableBoard
.image-container .list-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-left: 8px;
}

.guildBlock .listsBoard .tablesBoard .tableBoard
.follow {
    width: 80px;
    height: 22px;
    line-height: 22px;
    border-radius: 5px;
    font-size: 14px;
}

.guildBlock .listsBoard .tablesBoard .tableBoard
.follow::before {
    content: 'Follow';
}

.guildBlock .listsBoard .tablesBoard .tableBoard
.unfollow {
    width: 80px;
    height: 22px;
    line-height: 22px;
    border-radius: 5px;
    background-color: #C4C4C4;
    font-size: 14px;
}

.guildBlock.listsBoard .tablesBoard .tableBoard
.unfollow::before {
    content: 'Unfollow';
}

.guildBlock .listsBoard .tablesBoard .tableBoard
.status-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.guildBlock .listsBoard .tablesBoard .tableBoard
.status {
    text-transform: uppercase;
    color: var(--third-color);
    font-size: 14px;
    margin-right: 8px;
}

.guildBlock .listsBoard .tablesBoard .tableBoard
.pastille {
    width: 8px;
    height: 8px;
    border-radius: 20px;
    background: var(--green-color);

    margin-right: 6px;
}

.guildBlock .listsBoard .tablesBoard .tableBoard
.online {
    background: var(--green-color);
}

.guildBlock .listsBoard .tablesBoard .tableBoard
.offline {
    background: #EB5757;
}

.guildBlock .listsBoard .tablesBoard .tableBoard
.ingame {
    background: var(--primary-color);
}

.guildBlock .listsBoard .guildTable {
    cursor: pointer;
}

#memberGuildListTable {
    height: fit-content;
    margin-top: 64px;
}

.guildBlock .nbMembers {
    left: 0;
    float: left;
    margin-left: 128px;
}