.firstConnexion {
    background-color: black;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.firstConnexion .validate {
    margin-top: min(150px, 10%);

    font-size: 24px;
    width: 250px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    box-sizing: border-box;
}

.firstConnexion .nickname {
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-bottom: 5%;
}

.firstConnexion .status {
    font-size: 30px;
    color: var(--secondary-color);
    margin-bottom: 32px;
}

.firstConnexion .nickname .input {
    width: 400px;
    height: 50px;
    padding: 12px 20px;
    padding-left: 16px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #C4C4C4;
    color: var(--text-button-color);
    border-radius: 10px;
    font-size: min(2vw, 24px);
}

.firstConnexion .nickname .input:focus {
    outline: none;
}

.firstConnexion .avatar {
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.firstConnexion .avatar .image:hover {
    box-shadow:  0 0 16px  rgba(196, 196, 196, 0.5);
    background-color: rgba(196, 196, 196, 0.8);
}

.firstConnexion #twoFactor {
    display: flex;

    flex-direction: row;

    margin-top: 64px;

    cursor: pointer;
}

.activate2FA {
    margin-left: 8px;
    color: var(--secondary-color);
    font-size: 24px;
}

