.oauth {
    background-image: url('../../../gif/pong.gif') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;

    width: 100vw;
    height: 100vh;
    
    
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.oauth .logo {
    margin-top: 10%;
    margin-bottom: min(150px, 10%);
    font-size: min(6vw, 100px);
}

.oauth .signIn {
    margin-top: min(150px, 10%);
    margin-bottom: 10%;

    font-size: min(2.5vw, 36px);
    width: 40vw;
    max-width: 500px;
    padding: min(max(2%, 2px), 20px);
    border-radius: 50px;
    text-align: center;
    box-sizing: border-box;
}

.oauth .signIn::before {
    content: 'Sign in';
}