<div class="warRules declareWar" id="warSchedule">
    <a class="close" id="closeDeclareWar" href='#guild/{{onId}}'>
        <img src="./icons/esc.svg">
    </a>
    <div class="title">VS
        <div class="guildsName from">{{fromName}}</div>
        <div class="guildsName on">{{onName}}</div>
    </div>
    <div class="declareMiddle warRulesMiddle">
        <div class="declareWarTitle warRulesTitle">War times</div>
        <div class="container">
            <div id="scheduler"></div>
        </div>
    </div>
    <div class="buttons">
        <button class="button prev prevWarTimes">Previous</button>
        <button class="button next nextWarRules">Validate</button>
    </div>
</div>