<div class="tournament-main" id="tournament-main">
    <div class="tournament-header-container" id="tournament-header-container"></div>
    <div class="tournament-nav-container" id="tournament-nav-container"></div>
    <div class="tournament-content-container" id="tournament-content-container"></div>
</div>