<div class="tournament-nav" id="tournament-nav">
    <div class="square" id="square"></div>
    {{#if isRegistered}}
    <div class="my-matches-nav" id="my-matches-nav">
        MY MATCHES
    </div>
    {{/if}}
    <div class="all-matches-nav" id="all-matches-nav">
        ALL MATCHES
    </div>
    <div class="classement-nav" id="classement-nav">
        CLASSEMENT
    </div>
</div>