<div class="tournament-creation-container">
    <div class="title">CREATE TOURNAMENT</div>
    <div class="sub-title">Tournament schedule</div>
    <div class="schedule-container">
        <img src="./icons/schedule-yellow.svg" class="schedule">
    </div>
    <input type="text" class="input datepicker" id="datepicker"></input>
    <div class="create-tournament-container">
        <button class="create-tournament" id="create-tournament">Create tournament</button>
    </div>
</div>