<div class="manageGuildContainer" id="createGuildContainer">
	<style>
		.errorMessage
		{
			color: red;
		}
	</style>

	<div class="manageGuildSideBar"></div>
	<div class="manageGuildContentContainer">
		<div class="manageGuildContent" id="createGuildContent">
		<div class="closeParams exitButton" id="ManageGuildExitButton" onclick="window.location='#profile';">
			<img src="./icons/esc.svg" class="">
		</div>
		<div class="manageGuildTitle">
			<div class="title">
				CREATE GUILD 
			</div>
			<div class="manageGuildForm">
			<div class="subtitle">GUILD NAME</div>
			<label for="guildName">
			<input id="guildName" class="manageGuildTextInput" type="text"></input>
			</label>
			<div id="nameError" class="errorMessage"></div>
			<div class="subtitle">ANAGRAM</div>
			<label for="guildAnagram">
			<input id="guildAnagram" class="manageGuildTextInput" type="text" minlength="3" maxlength="5"></input>
			</label>
			<div id="anagramError" class="errorMessage"></div>
			<div id="errorField" class="errorMessage"></div>
			<div><button class="createGuild save">Save</button></div>
		</div>
		</div>
	</div>
</div>
