<div class="manageGuildContainer" id="createGuildContainer">
	<style>
		.errorMessage
		{
			color: red;
		}
	</style>

	<div class="manageGuildSideBar"></div>
	<div class="manageGuildContentContainer">
		<div class="manageGuildContent" id="createGuildContent">
		<div class="manageGuildTitle"><span> CREATE GUILD </span>
		<span><a id="ManageGuildExitButton" class="exitButton" href="#guilds/">ESC</a><span></div>
			<div class="manageGuildForm">
			<div>Guild name</div>
			<label for="guildName">
			<div>	<input id="guildName" class="manageGuildTextInput" type="text"></input> </div>
			</label>
			<div id="nameError" class="errorMessage"></div>
			<div>Anagram</div>
			<label for="guildAnagram">
				<div><input id="guildAnagram" class="manageGuildTextInput" type="text"></input></div>
			</label>
			<div id="anagramError" class="errorMessage"></div>
			<div id="errorField" class="errorMessage"></div>
			<div><button class="createGuild">Save</button></div>
		</div>
		</div>
	</div>
</div>
