<div id="leaveGuildPage">
<div id="leaveGuildConfirmation">Are you sure you want to leave {{this.guild.name}}?</div>
<div><button class="button" id="leaveGuild" onclick="window.location='#profile';">Yes</button></div>
</div>