<div class="manageGuildContainer" id="createGuildContainer">
	<div class="manageGuildSideBar">
		<div class="manageGuildSideBarContent">
			{{#if this.owner}}
				<div class="manageGuildSideBarContentEl">Owner</div>
			{{/if}}
			{{#if this.officer}}
				<div class="manageGuildSideBarContentEl">Officer</div>
			{{/if}}
			<div class="manageGuildSideBarContentEl" id="leaveGuildSideBar">Leave Guild</div>
		</div>
	</div>
	<div class="manageGuildContentContainer">
		<div class="manageGuildContent">
			<div id="manageGuildContent"></div>
			<div id="guildGlobalError"></div>
		</div>
	</div>
</div>
