<div class="manageGuildContainer" id="createGuildContainer">
	<div class="manageGuildSideBar">
		<div class="manageGuildSideBarContent">
			{{#if this.owner}}
				<div class="manageGuildSideBarContentEl" id="owner">
					<p>Owner</p>
				</div>
			{{/if}}
			{{#if this.officer}}
				<div class="manageGuildSideBarContentEl" id="officer">
					<p>Officer</p>
				</div>
			{{/if}}
			{{#if this.member}}
			<div class="" id="leaveGuildSideBar">Leave Guild</div>
			{{/if}}
		</div>
	</div>
	<div class="manageGuildContentContainer">
		<div class="manageGuildContent">
			<div id="guildGlobalError"></div>
			<div id="manageGuildContent"></div>
		</div>
	</div>
</div>
