<div class="subNavBar subNavBarProfile">
	<div class="square" id="square"></div>
	<div class="nav">
		<div class="match-history-nav subNavBarEl" id="matchHistory">
			MATCHES
		</div>
		<div class="achievements-nav" id="achievements">
			ACHIEVEMENTS
		</div>
		<div class="profile-guild-nav" id="profileGuild">
			GUILD
		</div>
		<div class="friends-nav" id="friends">
			FRIENDS
		</div>
	</div>
{{!-- 
		<li id="matchHistory"> <span class="subNavBarEl">Matches</span></li>
		<li id="achievements"> <span class="subNavBarEl">Achievements</span></li>
		<li id="profileGuild"> <span class="subNavBarEl">Guild</span></li>
		<li id="friends"> <span class="subNavBarEl">Friends</span></li> --}}
</div>
