<button id="followUser">Follow</button>
{{!-- <button id="playUser">Play</button> --}}
<button class="play-button" id="playUser" for="{{userId}}">
    <img src="./icons/videogame.svg" height="24">
</button>