<div class="profileBlock">
<div class="bigMessage">{{nickname}} doesn't have a guild</div>
<div id="sendInvitationButton"></div>
<p class="error-message" id="error-message" style="display: none;"></p>
</div>
