.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    
    margin-top: 32px;
}

.timer-container
.next-tournament-in {
    font-family: Roboto-Bold;
    margin-right: 8px;
    width: 168px;
}

.timer-container
.timer {
    font-family: Roboto-Regular;
}