.tournament-creation-container {
    min-height: calc(100vh - 135px - var(--header-size));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tournament-creation-container
.title {
    font-family: Roboto-Regular;
    font-size: 30px;

    margin-bottom: 64px;
}

.tournament-creation-container
.sub-title {
    font-family: Roboto-Bold;
    font-size: 18px;

    margin-bottom: 16px;
}