.tournament-content-container 
.no-tournament {
    height: 100%;
    width: 100%;
    line-height: calc(100vh - 135px - var(--header-size));

    display: flex;
    justify-content: center;

    font-family: Roboto-Regular;
    font-size: 30px;
}