.tournament-content-container 
.no-tournament {
    height: 100%;
    width: 100%;

    padding-top: 25vh;

    display: flex;
    justify-content: center;

    font-family: Roboto-Regular;
    font-size: 30px;
}