.tournament-main {
    background: var(--secondary-color);
    width: 100vw;
    min-height: calc(100vh - var(--header-size));
}

.tournament-content-container {
    min-height: calc(100vh - 135px - var(--header-size));
    margin-left: 4vw;
    margin-right: 4vw;

    margin-top: 64px;
}


.thumbnail
.registered {
    background-color: #1B2534;
    border-radius: 10px;

    width: 230px;
    height: 52px;
    
    color: var(--secondary-color);

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 8px;
    margin-bottom: 8px;

    cursor: pointer;
}

.thumbnail
.image-container {
    width: 42px;
    height: 42px;
    margin-left: 16px;
    margin-right: 8px;
}

.thumbnail .image-container
.image-url {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

.thumbnail
.nickname {
    margin-left: 8px;

    font-family: Roboto-Regular;
    color: var(--secondary-color);
}
