.tournament-main {
    background: var(--secondary-color);
    width: 100vw;
    min-height: calc(100vh - var(--header-size));
}

.tournament-content-container {
    min-height: calc(100vh - 135px - var(--header-size));
    margin-left: 8vw;
    margin-right: 8vw;

    margin-top: 64px;
}
