<div class="firstConnexion">
  <div class="nickname">
    <label class="status" for="nickname">Choose your nickname</label>
    <input class="input" type="text" id="nickname" name="nickname" minlength="2" maxlength="20" value={{nickname}}>
    <p class="error-message" id="error-message" style="display: none;">{{message}}</p>
  </div>

  <div class="avatar">
    <label class="status" >Choose your avatar</label>
    <label>
      <input type="file"  accept="image/*" name="image" id="file"  style="display: none;">
      <img class="image" alt="avatar" src="{{image_url}}" id="output" width="200" style="cursor: pointer;" />
    </label>
      <div id="twoFactor">
      <input type="checkbox" class="checkbox checkbox2FA" id="2FA" name="2FA" />
      <label class="activate2FA">Activate Two-Factor via Email</label>
      </div>
  </div>
  <button class="validate">Validate</button>
</div>
