<div class="chat" id="chat">
    <div class="discussions" id="discussions"></div>
    <div class="center" id="center"  style="display: none;"></div>
    <div class="right-side" id="right-side" style="display: none;"></div>
    <div class="droplistBlockViewProfile" id="droplistBlockViewProfile" style="display: none;">
        <a class="el view-profile" id="view-profile">View profile</a>
        <div class="el block" id="block"></div>
    </div>
    <div class="modal"></div>
</div>