.modalCreateChannel {
    display: none;
}

.modalCreateDirectMessages {
    display: none;
}

.modalSearchChannel {
    display: none;
}

.validationModal {
    display: none;
}

.modalAddFriendsToChannel {
    display: none;
}

.modal
.modalOpen {
    padding: 16px;
    width: 523px;
}

.modalPassword  .modalOpen
.inputModalPassword {
    height: 46px;
    border-radius: 9px;
    padding-left: 16px;
    font-family: Roboto-Regular;
    width: 100%;
}

.modalPassword .modalOpen
.labelModalPassword {
    align-self: baseline;
}

.validationModal
.modalOpen {
    padding: 32px;
    width: auto;
    height: auto;

    width: auto;
    height: auto !important;

    align-items: center;
    justify-content: center;
}

.modalOpen
.buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.modalOpen
.buttons .validation-buttons {
    width: 98px;
    height: 42px;

    margin: 8px;
}

.validationModal .modalOpen 
.sure {
    margin: 0px;
    font-size: 18px;
}


.validationModal .modalOpen 
.adminRights {
    margin: 16px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 16px;
}

 .modalOpen
.buttons .button {
    width: 98px;
    height: 42px;
    border-radius: 7px;
    font-size: 14px;
    font-family: Roboto-Regular;
}

.modalOpen
.buttons .validation-buttons .no {
    background-color: #E0E0E0;
}

.modal .eachFriend
.image-container {
    width: 42px;
    height: 33px;
}

.modal .eachFriend .image-container
.image_url {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.modal
.button-container {
    align-self: center;
    width: 323px;
    height: 46px;

    margin-top: 8px;
}

.modal .modalOpen .button-container
.createChannel {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    font-size: 18px;
}

.modal .modalOpen
.textInput {
    height: 64px;
    border-radius: 9px;
}

.modalCreateChannel .modalOpen
.error-message {
    font-size: 14px;
    margin: 0;
    margin-bottom: 16px;
}

.modalCreateChannel .modalOpen
.channelName {
    margin-bottom: 8px;
}

.modal .modalOpen
.search {
    margin-bottom: 8px;
}

.modal .modalOpen
.label {
    margin-bottom: 8px;
}

.modal .modalOpen
.labelSelectFriends {
    margin-top: 8px;
}

.modalOpen
.friends {
    height: 100%;
    overflow-y: scroll;
}

.modalSearchChannel .modalOpen
.friends {
    height: 100%;
    overflow-y: scroll;
}

.modalCreateDirectMessages .modalOpen
.friends {
    height: 50vh;
    width: 50vw;
    overflow-y: scroll;
}

.modal .modalOpen
.friends::-webkit-scrollbar-track {
    width: 0px;
    background-color: transparent;
}

.modal .modalOpen
.friends::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}

.modal .modalOpen
.friends::-webkit-scrollbar-thumb {
    width: 0px;
    background-color: transparent;
}

.modal .modalOpen
.eachFriend {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;

    cursor: pointer;

    margin-top: 4px;
    margin-bottom: 4px;

    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 8px;
}

.modal .modalOpen .eachFriend
.left {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.modal .modalOpen .eachFriend
.image-container {
    margin-right: 8px;
}

.modal .modalOpen
.close {
    align-self: flex-end;
    cursor: pointer;
}

.modal .modalValidationBan .modalOpen
.radio-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
