.pastille {
    width: 8px;
    height: 8px;
    border-radius: 20px;
    background: var(--green-color);

    margin-right: 6px;
    /* margin-left: 32px; */
}

.online {
    background: var(--green-color);
}

.offline {
    background: #EB5757;
}

.ingame {
    background: var(--primary-color);
}
