<div class="listsPage guildsPage" id="guildsPage">
    <div class="listsHeader-container guildsHeader-container" id="guildsHeader-container"></div>
    <div class="guildsList-container" id="guildsList-container"></div> 
</div>