<div class="listsPage adminPage" id="adminPage">
    <div class="listsHeader-container adminHeader-container" id="adminHeader-container"></div>
    <div class="listsMain-container adminList-container" id="adminList-container"></div> 
</div>