.manageGuildContainer {
	display: flex;
	flex-direction: row;
	color: white;
	font-family: Roboto-Regular;
	height: 100%;
	width:100vw;
	background: url('../../../images/background.jpg');
	background-position: 50% 0;
	background-position: 0 0;
	background-attachment: fixed;

	overflow-x: hidden;
	overflow-y: auto;
}

.manageGuildContainer .manageGuildSideBar {
	display: flex;
	width: 329px;
	min-height: calc(100vh - var(--header-size));
	left: 0px;
	background-color: transparent;
	border-right: 1px solid #364050;
	border-top: 1px solid #364050;

	overflow: hidden;
	overflow-x: hidden;
}

.manageGuildContainer .manageGuildContentContainer {
	background: rgba(15, 24, 37, 0.37);
	width: calc(100vw - 330px);
	overflow-x: hidden;
	display: flex;
	flex-direction: column;

	border-top: 1px solid #313236;
}

#manageGuildContentContainerEl {
	height: 100%;
	overflow-y: scroll;
	margin-left: 64px;
}

.manageGuildContainer .save {
	width: 95px;
    height: 29px;
    background-color: var(--primary-color);
    border-radius: 8px;
    font-size: 14px;
	margin-bottom: 32px;
}

.manageGuildContainer .button {
    height: 29px;
    background-color: var(--primary-color);
    border-radius: 8px;
    font-size: 14px;
}

.manageGuildContainer .manageGuildContentContainer #createGuildContent {
	/* padding-left: 71px;
	padding-top: 60px;
	width: 100%; */
}

.manageGuildContainer .manageGuildContentContainer .manageGuildContent {
	/* padding-left: 71px;
	padding-top: 60px; */
	height: 100%;
	overflow-y: scroll;
}

.manageGuildSideBar {
	color: white;
	font-family: Roboto-Regular;

	/* padding-top: 71px; */
	/* margin-left: auto; */
	/* margin-right: 10px; */

	width: 330px;

	font-size: 18px;
	line-height: 21px;

	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.manageGuildSideBar .manageGuildSideBarContent {
	margin-top: 64px;
	margin-right: 8px;
	cursor: pointer;
}

.manageGuildSideBar .manageGuildSideBarContent .manageGuildSideBarContentEl {
	width: 170px;
	height: 40px;

	margin-top: 8px;
    margin-bottom: 8px;
	border-radius: 2px;
}

.manageGuildSideBar .manageGuildSideBarContent .open {
	background: #202529;
}


.manageGuildSideBar .manageGuildSideBarContent .manageGuildSideBarContentEl p {
	padding: 8px;
	margin: 0;
}

.manageGuildSideBar .manageGuildSideBarContent .manageGuildSideBarContentEl:hover {
    background: #364050;
}

.manageGuildSideBar .manageGuildSideBarContent .manageGuildSideBarContentEl:hover {
}

.manageGuildSideBar .manageGuildSideBarContent #leaveGuildSideBar {
	color:  #FA0808;
	border-top: 1px solid #364050;
	padding: 8px;
}

.manageGuildContent #leaveGuildPage {
	margin-top: 64px;
	margin-left: 32px;
}

.manageGuildContent #leaveGuildPage div {
	padding-top: 10px;
	padding-bottom: 10px;
}

.manageGuildTitle {
	/*margin-left: 64px;*/
	font-size: 18px;
}

.manageGuildTitle .subtitle {
	color: #C4C4C4;
	font-size: 14px;
	margin-bottom: 16px;
}

/* .manageGuildTitle #manageGuildExitButton {
	position: relative;
	top: 32px;
	left: 495px;
	width: 35px;
	height: 57px;
} */

.manageGuildForm {
	/*height: 100%;
	overflow-y: scroll;*/
}

.manageGuildForm div {
	/* padding-top: 5px;
	padding-bottom: 5px; */
}

.manageGuildTextInput {
	margin-bottom: 32px;
}

.createGuild {
	border-radius: 13px;
	width: 112px;
	height: 34px;
}

.manageGuildTextInput {
	background: #364050;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 3px;

	font-family: Roboto-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;

	padding: 10px;

	color: #C4C4C4;
}

#guildName {
	min-height: 41px;
}

#guildAnagram {
	min-width: 119px;
	min-height: 41px;
}

.manageGuildTitle #guildNameIntro {
	font-family: Roboto-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;

}

.manageGuildTitle .title {
	margin-bottom: 32px;
}

.manageGuildTitle #guildNameIntro a {
	text-decoration: none;
	color: white;
}

.manageGuildTitle #guildNameIntro a:hover {
	/* text-decoration: underline; */
}

.manageGuildTitle #guildAnagramIntro {
	font-family: Roboto-Regular;
}

.manageGuildContent .manageGuildMembersList {
	list-style: none;
	border-top: 1px solid #364050;
	width: 90%;
	padding: 0;
	/*height: 100%;*/
}

#inviteMemberModalButton {
	margin-top: 32px;
}

.manageGuildContent .manageGuildMembersList li {
	display: grid;
  	grid-gap: 75px;
  	grid-auto-rows: 50px;
  	grid-template-areas:
    "a a b b c c";
  	align-items: start;
	padding-right: 30px;
	margin-top: 15px;
}


.manageGuildContent .image-container {
	height: 34px;
	width: 43px;
	grid-area: a;
	align-self: center;
 	justify-self: center;
}

.manageGuildContent .memberProfilePicture {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.manageGuildContent .manageGuildMembersList span {
	grid-area: b;
	align-self: center;
 	justify-self: center;
}
.manageGuildContent .manageGuildMembersList button{
	grid-area: c;
	align-self: center;
 	justify-self: center;
}

.manageGuildModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#inviteMemberModalContent {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
	left: 50%;
	top: 50%;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.manageGuildContainer .close {
  color: #aaa;
  float: right;
	/*padding-right: 350px;*/
  font-size: 28px;
  font-weight: bold;

  cursor: pointer;
}

#ManageGuildExitButton {
	position: relative;
	top: 32px;
	left: 538px;
	width: 35px;
	height: 57px;
	cursor: pointer;
}

.manageGuildModal .close:hover,
.manageGuildModal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#manageGuildErrorDiv {
	color: red;
	font-style: italic;
}

#forScrool {
	height: 40vh;
	overflow-y: scroll;
}
