<div class='gameSupraDiv'>
	<h1 id="gameTitle">LOADING ...</h1>
	<div id="gameRules">
		Play with your mouse, first to 3 points wins
	</div>
	<div id="gameContainer">
		<canvas id="gameWindow" width={{this.width}} height={{this.height}} style="font-family: PressStart2P-Regular">
		</canvas>
	</div>
	<div id="forScroll"></div>
</div>
