<div class='gameSupraDiv'>
	<h1 id="gameTitle">LOADING ...</h1>
	<div id="gameContainer">
		<canvas id="gameWindow" width={{this.width}} height={{this.height}}>
		</canvas>
	</div>
</div>
<div></div>
