<div class="notif senderGameNotif" id="senderGameNotif{{gameId}}" > 
    <div class="closeNotif" id="closeSenderGameNotif-container">
        <img src="./icons/close.svg" class="closeSenderGameNotif" id="closeSenderGameNotif" for="{{gameId}}"></img>
    </div>
    <p class="text">You have sent an invitation to a match to {{nickname}}.</p>
</div>