.home {
    background-image: url('../../../gif/pong.gif') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(min(80%, 1280px));

    width: 100vw;
    height: calc(100vh - var(--header-size));
}

.play-gif {
    background: url('../../gif/play.gif');
    background-repeat: no-repeat;
    background-size: 248px 56px;
    background-position: center;
    height: 100%;
    width: 100%;

    cursor: pointer;
}

.choose-page {
    display: flex;
    flex-direction: column;

    font-family: PressStart2P-Regular;
    font-size: clamp(16px, 4vw, 50px);
    color: var(--secondary-color);

    width: 100vw;
    height: calc(100vh - var(--header-size));

    margin-top: 20vh;
}

.choose-page .choose-a-game {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25vh;
}

.choose-page .choose {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    color: var(--primary-color);
    cursor: pointer;
}