.home {
    background-image: url('../../../gif/pong.gif') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(min(80%, 1280px));

    width: 100vw;
    height: calc(100vh - var(--header-size));
}

.play-gif {
    background: url('../../gif/play.gif');
    background-repeat: no-repeat;
    background-size: 248px 56px;
    background-position: center;
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0%;
    left: 0%;
    cursor: pointer;

}
