/*.panel {
	position: relative;
}*/

/* .subNavBar { */
	/* list-style-type: none; */
	/* padding-top: 25px; */
	/* margin: 0px; */
	/* width: 100%; */
	/*height: 100%;*/
	/* width = 100vw*/
	/* text-align: center; */
/* } */
/* 
.subNavBar li {
	font-family: Quantico-regular;
	font-size: 30px;
	display: inline-block;
}

.subNavBar .subNavBarEl {
}

.subNavBar .subNavBarEl:hover {
    border-bottom: 2px solid black;
	/* text-decoration: underline; */
/* }

.subNavBar  {
    font-family: Quantico-Regular;
    font-size: clamp(24px, 3vw, 30px);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    cursor: pointer;

	margin: auto;
}  */


.subNavBar {
    font-family: Quantico-Regular;
    font-size: clamp(24px, 3vw, 30px);

    cursor: pointer;
}

.subNavBarProfile {
    margin-top: 64px;
}

.subNavBar .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.subNavBar
.open {
    border-bottom: 2px solid black;
}

.subNavBar
.square {
    width: 19px;
    height: 19px;

    background-color: var(--primary-color);
    transform: rotate(-8deg);

    position: sticky;
}