.topnav {
    position: fixed;

    top: 0;
    left: 0;

    background: url('../../images/background.jpg');
    background-position: 50% 0;
    background-position: 0 0;
    background-attachment: fixed;

    box-shadow: inset 0 0 0 1000px rgba(27, 37, 52, 0.4);

    line-height: var(--header-size);
    height: var(--header-size);
    width: 100%;

    z-index: 1;

    display: grid;
    grid-gap: 8px;
    grid-template-columns: 200px 175px minmax(auto, 200px) minmax(auto, 300px) auto 64px max-content 150px;

    padding: 0px 32px 0px 32px;
    padding-right: 32px;
}

.topnav .btn {
    font-family: Quantico-Regular;
    font-size: 24px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.topnav .logo {
    font-family: MajorMonoDisplay-Regular;
    align-content: flex-start;
    font-size: 36px;
    text-align: left;
}

.topnav .logo::before {
    content: 'PonG';
    color: var(--primary-color);
}

.topnav .logo::after {
    content: 'Ame';
    color: white;
}

.topnav .tournaments {
    text-align: right;
}

.topnav .guilds {
    text-align: left;
}

.topnav .admin {
    text-align: left;
}

.topnav .profile_pic {
    object-fit: cover;
    width: 61px;
    height: 48px;

    position: relative;
    top: 17px;
}

.topnav .chat {
    height: 41px;
    width: 41px;

    display: flex;
    position: relative;
    top: 25%;
}

.topnav .exit {
    background: url('../../icons/exit.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 59px;
    height: 31.29px;
    position: relative;
    top: 25.35px;
    left: 25%;
}

.topnav .user {
    text-align: left;
    margin-left: 8px;
}

.topnav .user-page {
    display: flex;
    flex-direction: row;
}