<div class="subNavBar subNavBarGuild">
	<div class="square" id="square"></div>
	<div class="nav">
		<div class="currentWar-nav" id="currentWar">
			WAR
		</div>
		{{#if manage}}
		<div class="calendar-nav" id="calendarWar">
			CALENDAR
		</div>
		{{/if}}
		<div class="lastWars-nav" id="lastWars">
			LAST WARS
		</div>
		<div class="members-nav" id="members">
			MEMBERS
		</div>
	</div>
</div>
