<div class="subNavBar">
	<div class="square" id="square"></div>
	<div class="currentWar-nav" id="currentWar">
		WAR
	</div>
	<div class="lastWars-nav" id="lastWars">
		LAST WARS
	</div>
	<div class="members-nav" id="members">
		MEMBERS
	</div>
</div>
