/*#guildPannel {
	position: absolute;
	display: flex;
	width: 100%;
	max-width: 100%;
	height: 343px;
	left: 0px;
	top: 82px;

	background: rgba(27, 37, 52, 0.4);
}
*/
.guildBlock {
	margin-top: 32px;
	margin-right: 2%;
	margin-left: 2%;
	/*width: auto;
	height: auto;
	position: relative;
	/*min-height: 100%;*/
	/*overflow-y: scroll;*/
	/*border: 10px solid;
	border-color: #1B2534;
	background-color: #1B2534;
	border-radius: 10px;*/
	background-color: white;
	/*flex: 0 0 auto;*/
	text-align: center;
	height: 110%;
}

.placeholder {
	text-align: center;
	color: black;
	font-size: 30px;
}

/* width height arbitrary */
#goToCreateGuildButtonContainer {
	position: relative;
	padding-top: 15px;

	left: 50%;
}

#goToCreateGuildButton {
	transform: translateX(-50%);
}

#goToCreateGuildButton a {
	text-decoration: none;
	color: black;
}

.guildBlock .table {
	position: relative;
	top: 0;
}