/*#profilePannel {
	position: absolute;
	display: flex;
	width: 100vw;
	height: 343px;
	left: 0px;
	top: 82px;

	background: rgba(27, 37, 52, 0.4);
}*/

.content #profilePicture {
	height: 34px;
	width: 43px;
	left: 157px;
	top: 341px;

	border: 7px solid #000000;
	filter: drop-shadow(7px 7px 5px rgba(0, 0, 0, 0.27));
}

.profileBlock {
	margin-top: 30px;
	margin-right: 2%;
	margin-left: 2%;
	width: auto;
	height: auto;
	/*border: 10px solid;
	border-color: #1B2534;
	background-color: #1B2534;
	border-radius: 10px;*/

	text-align: center;
}

.placeholder {
	text-align: center;
	color: black;
	font-size: 30px;
}
