<div class="waiting-page">
    <div class="loader-container">
        <img src="./gif/loader.gif" class="loader">
    </div>
    <div class="loading-sentence">Looking for suitable opponent</div>
</div>