<div class="choose-page">
    <div class="choose-a-game">Choose a game</div>
    <div class="choose">
        <div class="ranked" id="ranked">Ranked</div>
        <div class="training" id="training">Training</div>
    </div>
</div>