.pannelContent .image-container {
	/* position: relative;
	left: 157px;
	right: 341px; */
	top: calc(var(--pannel-size) - var(--header-size));
	/*flex:none;*/
	width: 173px;
	height: 131px;

	border: 7px solid #0C0C0C;
	filter: drop-shadow(7px 7px 5px rgba(0, 0, 0, 0.27));
	z-index: 1;
}

.pannelContent .image-nickname {
	display: flex;
	flex-direction: column;
	width: fit-content;
	align-items: center;
	position: absolute;
	top: 98px;
}

#profilePicture {
	/* position: relative;
	left: 157px;
	right: 341px;
	top: calc(var(--pannel-size) - var(--header-size));
	flex:none;
	width: 173px;
	height: 131px;

	border: 7px solid #0C0C0C;
	filter: drop-shadow(7px 7px 5px rgba(0, 0, 0, 0.27));
	z-index: 1; */

	object-fit: cover;
	width: 100%;
	height: 100%;
}

#profilePicture:hover {
    box-shadow:  0 0 16px  rgba(196, 196, 196, 0.5);
    background-color: rgba(196, 196, 196, 0.8);
}

.savageButtons {
	display: flex;
	flex-direction: row;
	position: absolute;
	left: 224px;
	top: 264px;
	z-index: 1;
}

.savageButtons button {
	width: 142px;
	height: 36px;
	border-radius: 10px;
	font-size: 18px;
}

.savageButtons #playUser {
	margin-left: 8px;
    border-radius: 11px;
    color: black;
    font-size: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.savageButtons #playUser::after {
    content: 'Play';
    margin-left: 6px;
}


.profileBlock {
	margin-top: 32px;
	margin-right: 2%;
	margin-left: 2%;
	/*width: auto;
	height: auto;
	position: relative;
	/*min-height: 100%;*/
	/*overflow-y: scroll;*/
	/*border: 10px solid;
	border-color: #1B2534;
	background-color: #1B2534;
	border-radius: 10px;*/
	background-color: white;
	/*flex: 0 0 auto;*/
	text-align: center;
	height: 100%;
}

.profileBlock .button {
	margin-top: 32px;
}

.profileBlock .button button {
	width: 185px;
	height: 46px;
	border-radius: 10px;
	font-size: 16px;
}

#notFoundMatchHistory {
	padding-top: 128px;
	font-size: 25px;
}

.bigMessage {
	font-family: Roboto-Regular;
	font-size: 30px;
	line-height: 35px;
	text-transform: uppercase;

	margin-top: 15vh;
}

.profileBlock .invitation {
	font-family: Roboto-Regular;
	font-size: 18px;
	margin-top: 32px;
}

.profileBlock #sendInvitation {
	width: 278px;
	height: 46px;
	border-radius: 10px;
	font-size: 16px;
	margin-top: 16px;
}

.profileBlock button a {
	text-decoration: none;
	color: black;
}

.profileBlock #leaveGuildButton {
	margin-left: 8px;
}

/* #leaveGuildButton #leaveGuild {
	width: 185px;
	height: 46px;
	border-radius: 10px;
} */

 /* #manageGuildButton #manageGuild { */
	/* width: 185px; */
	/* height: 46px; */
	/* border-radius: 10px; */
/* } */

.placeholder {
	text-align: center;
	color: black;
	font-size: 30px;
}

#guildOptionsContainer {
	text-align: center;
	margin-top: 32px;
}

#guildOptionsContainer button {
	width: 140px;
	height: 31px;
	left: 894px;
	font-family: Roboto-Regular;
	font-size: 16px;
	line-height: 19px;
	border-radius: 10px;
}

#guildOptionsContainer #leaveGuild {
	background-color: #C4C4C4;
}

#guildName-container {
	position: relative;
	transform: translate(-50%);
	left: 50%;
	right: 50%;
}

#guildNameLabel {
	font-family: Quantico-Regular;
	font-size: 36px;
}

#guildOptions {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	margin: auto;
}

#guildOptions a {
	color: black;
	text-decoration: none;
}

#guildOptions a:hover {
	text-decoration: none;
	align-content: center;
}

#guildNameLabel span {
	font-size: 25px;
}
